table.crpmenu h1 { font-size: 13px }
table.crpmenu td.stime { font-size: 12px }
h1 { font-size: 21pt; }
h2 { font-size: 19pt; }
h3 { font-size: 17pt; }
body,p,input,td,th,div { font-size: 15pt; }
select,option,input,textarea { font-size: 15pt; }
