table.crpmenu h1 { font-size: 11px }
table.crpmenu td.stime { font-size: 10px }
h1 { font-size: 17pt; }
h2 { font-size: 15pt; }
h3 { font-size: 13pt; }
body,p,input,td,th,div { font-size: 11pt; }
select,option,input,textarea { font-size: 11pt; }
