table.crpmenu h1 { font-size: 9px }
table.crpmenu td.stime { font-size: 8px }
h1 { font-size: 13pt; }
h2 { font-size: 11pt; }
h3 { font-size: 9pt; }
body,p,input,td,th,div { font-size: 7pt; }
select,option,input,textarea { font-size: 7pt; }
